[submodule "src/modules/video_opengl"]
	path = src/modules/video_opengl
	url = https://github.com/HAPEngine/video_opengl
[submodule "src/modules/example"]
	path = src/modules/example
	url = https://github.com/HAPEngine/example
[submodule "src/modules/scripting_python"]
	path = src/modules/scripting_python
	url = https://github.com/HAPEngine/scripting_python
[submodule "src/modules/audio_openal"]
	path = src/modules/audio_openal
	url = https://github.com/HAPEngine/audio_openal
[submodule "src/modules/video_vulkan"]
	path = src/modules/video_vulkan
	url = https://github.com/HAPEngine/video_vulkan
