# Output files
/bin/*
/lib/*


# Build artifacts
*.cmake
*.db
*.depend
*.dir
*.filters
*.o
*.opendb
*.sln
*.stamp
*.vcxproj
CMake*
CMakeFiles
Makefile
Testing
x64
!CMakeLists.txt
/build/*


# Non-git hidden files
.*
!.git*
